<div class="front-wrapper">
            <div id="join-button"><a class="start-button" onclick="app.input.emit('button.join.open')" tabindex="1">&gt; Join a Stage</a></div>
            <div id="create-button"><a class="start-button" onclick="app.input.emit('newStageOpenButton')" tabindex="2">Create a Stage &lt;</a></div>
            <div class="center-wrapper">
                <div id="podium-wordmark">The Podium</div>
                <div id="podium-subtitle">The free online trivia night</div>
            </div>
            
        </div>