@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')

.front-wrapper
    position: absolute
    #podium-wordmark
        font-family: 'Space Mono', monospace
        color: white
        font-size: 5rem

    #podium-subtitle
        font-family: 'Space Mono', monospace
        color: white
        font-weight: bold
        font-size: 1.5rem

    #join-button
        position: absolute
        top: 15px
        left: 20px
        a
            background: linear-gradient(98deg,#ff0000,#ffff00,#00ff00)

    #create-button 
        position: absolute
        top: 15px
        right: 20px
        a
            background: linear-gradient(98deg,#00ff00,#00ffff,#0000ff)

    .start-button
            background-size: 160% 160% !important
            animation: join-animation 8s ease-in-out infinite
            -webkit-background-clip: text !important
            -webkit-text-fill-color: transparent
            font-weight: bold
            font-family: 'Space Mono', monospace
            font-size: 1.8rem

    .center-wrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100vh

body
    background-color: black
    margin: 0

@keyframes join-animation 
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%
