#join-wrapper
    position: absolute
    .center-wrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100vh

    &.hidden
        left: -100vw
        

