#join-wrapper
    position: absolute
    transition: left 0.5s ease-in-out
    backdrop-filter: blur(20px)
    width: 100vw
    left: 0


    .center-wrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100vh

    &.hidden
        left: -100vw
        transition: left 0.5s ease-in-out
    
    

