<div class="front-wrapper">
            <div id="join-button"><a class="start-button" onclick="document.getElementById('join-wrapper').classList.remove('hidden');">> Join a Stage</a></div>
            <div id="create-button"><a class="start-button" onclick="createGame">Create a Stage <</a></div>
            <div class="center-wrapper">
                <div id="podium-wordmark">The Podium</div>
                <div id="podium-subtitle">The free online trivia night</div>
            </div>
            
        </div>