<div id="join-wrapper" class="hidden">
    <div id="close-join-button" onclick="document.getElementById('join-wrapper').classList.add('hidden')"><a class="close-button">< Main Menu</a></div>
    <div class="center-wrapper">
        <form id="join-form" name="join-form">
            <div class="join-box">
                <label for="join-code">Join code</label>
                <input id="join-code" name="joinCode" type="text" maxlength="5" placeholder="801NK">
                <button id="submit" type="submit">Join</button>

            </div>
        </form>
    </div>
</div>