<div id="join-wrapper" class="hidden">
    <div id="close-join-button" onclick="document.getElementById('join-wrapper').classList.add('hidden')"></div>
    <div class="center-wrapper">
        <form>
            <div class="join-box">
                <label for="joinCode">Magic Number</label>
                <input id="joinCode" type="text" maxlength="5" placeholder="81U3L">
                <button type="submit">Join</button>

            </div>
        </form>
    </div>
</div>