<div class="join-wrapper">
    <div class="center-wrapper">
        <form>
            <div class="join-box">
                <label for="joinCode">Magic Number</label>
                <input id="joinCode" type="number" maxlength="5" placeholder="81U3L">
                <button type="submit">Join</button>
            </div>
        </form>
    </div>
</div>