<div id="join-wrapper" class="hidden">
    <div id="close-join-button" onclick="app.display.emit('newStageWrap', null, { 'action': 'hide' })"><a class="close-button">Main Menu &gt;</a></div>
    <div class="center-wrapper">
        <form id="new-stage-form" name="new-stage-form">
            <div class="drop-target">
                <div class="inner">
                    <div class="info">
                        <div class="text">
                            <h2>Drag your files here</h2>
                            <p>or</p>
                            <button id="file-browse">Browse</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
