<html>
    <head>
        <title>The Podium</title>
    </head>
    <body>
        <div class="front-wrapper">
            <div id="join-button" onclick="joinGame()"><a>Join a Stage</a></div>
            <div class="center-wrapper">
                <div id="podium-wordmark">The Podium</div>
            </div>
        </div>
    </body>
</html>